<div class="alert alert-secondary" style="background-color: #e6ddc4; color: #4b5320; padding: 20px; border-radius: 10px;">
    <a href="/login" class="btn btn-dark" style="background-color: #8f9779; border: none; padding: 10px 20px; border-radius: 5px;">
        Login
    </a>
    <a href="/patients" class="btn btn-dark" style="background-color: #8f9779; border: none; padding: 10px 20px; border-radius: 5px;">
        Patients
    </a>
    <a href="/patients/new" class="btn btn-dark" style="background-color: #8f9779; border: none; padding: 10px 20px; border-radius: 5px;">
        NewPatients
    </a>
    <a href="/physios" class="btn btn-dark" style="background-color: #8f9779; border: none; padding: 10px 20px; border-radius: 5px;">
        Physios 
    </a>
    <a href="/records" class="btn btn-dark" style="background-color: #8f9779; border: none; padding: 10px 20px; border-radius: 5px;">
        Records
    </a>
</div>

<style>
    .btn-dark:hover {
        background-color: #7b8a3f; /* Verde musgo */
        color: #f3efe0;
    }
</style>
