{% extends "base.njk" %}

{% block titulo %} Patients | Details {% endblock %}

{% block contenido %}
    <div class="card mt-4" style="background-color: #e6ddc4; border-radius: 15px; box-shadow: 0 5px 15px rgba(0,0,0,0.1);">
        <div class="card-header text-center" style="background-color: #4b5320; color: #fff; font-size: 1.8rem; font-family: 'Georgia', serif;">
            Ficha de un paciente
        </div>
        
        <div class="card-body">
            <div class="row">
                <!-- Información textual del libro -->
                <div class="col-md-8">
                    <p><strong>Name:</strong> {{ patient.name }}</p>
                    <p><strong>Surname:</strong> {{ patient.surname }}</p>
                    <p><strong>Birth date:</strong> {{ patient.birthDate }}</p>
                    <p><strong>Address:</strong> {{ patient.address }}</p>
                    <p><strong>Insurance Number:</strong> {{ patient.insuranceNumber }}</p>
                </div>
            </div>
        </div>

        <div class="card-footer text-center">
            <a href="/patients" class="btn btn-primary" style="padding: 10px 20px; background-color: #8f9779; border: none; ">Volver al listado</a>
            <a href="/patients/editar/{{ patient.id }}" class="btn btn-primary" style="background-color: #c3b091; border: none; padding: 10px 20px; border-radius: 5px;" >Editar patient</a>
        </div>
    </div>

{% endblock %}